{% extends 'shop/basic.html' %}
{% block title %}About Us {% endblock %}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Shopper's Point</h1>
      <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="jumbotron">
        <h2 class="my-4">Heading</h2>
        <p>Shopper's Point Internet Private Limited is an e-commerce company based in Raniganj, India. Founded by Nehal , Aman ,Aaditya and Dev in 2019, the company initially focused on Youtube, before expanding into other product categories such as consumer electronics, fashion, and lifestyle products.


        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    <a n-secondary" href="#" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
 {% endblock %}
